---
import {type GetStaticPathsOptions} from 'astro';
import {getCollection} from 'astro:content';
import Pagination from '../../blog/components/Pagination.astro';
import Container from '../../components/Container.astro';
import PageSeo from '../../components/PageSeo.astro';
import Layout from '../../layouts/Layout.astro';
import Notes from '../../notes/Notes.astro';

export async function getStaticPaths({paginate}: GetStaticPathsOptions) {
	const notes = await getCollection('notes');
	const sortedNotes = notes.toSorted((a, b) => (+b.data.date) - (+a.data.date));
	return paginate(sortedNotes, {
		pageSize: 7,
	});
}

const {page} = Astro.props;
const notes = page.data;
---
<Layout>
	<PageSeo
		slot="head"
		title="Notes"
	/>

	<Container>
		<div class="body">
			<h1>
				Notes
			</h1>

			<p class="intro">
				This is where I link to content that caught my eye on the Internet, and add my two cents to it. <a href="/blog/public-notebook">Find out why.</a>
			</p>

			<Notes notes={notes} />
			<Pagination page={page} type="notes" />
		</div>
	</Container>
</Layout>

<style>
	.body {
		padding: 1.5rem 0;
	}

	.intro {
		margin: 1.5rem 0;
	}
</style>
