---
import {type GetStaticPathsOptions} from 'astro';
import {getCollection} from 'astro:content';
import BlogPosts from '../../blog/components/BlogPosts.astro';
import Pagination from '../../blog/components/Pagination.astro';
import Container from '../../components/Container.astro';
import PageSeo from '../../components/PageSeo.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths({paginate}: GetStaticPathsOptions) {
	const posts = await getCollection('posts', (({data}) => !data.draft));
	const sortedPosts = posts.toSorted((a, b) => (+b.data.datetime) - (+a.data.datetime));
	return paginate(sortedPosts, {
		pageSize: 7,
	});
}

const {page} = Astro.props;
const posts = page.data;
---
<Layout>
	<PageSeo
		slot="head"
		title="Blog"
	/>

	<Container>
		<div class="body">
			<h1>Blog</h1>
			<BlogPosts posts={posts} />
			<Pagination page={page} />
		</div>
	</Container>
</Layout>

<style>
	.body {
		padding: 1.5rem 0;
	}

	h2 {
		text-wrap: balance;
		margin: 3rem 0 0;
	}
</style>
