---
import type {CollectionEntry} from 'astro:content';

interface Props {
	posts: CollectionEntry<'posts'>[];
}

const {posts} = Astro.props;
const formatter = new Intl.DateTimeFormat('en', {year: 'numeric', month: 'short', day: 'numeric'});
---
<div class="posts">
	{posts.map(({data: post}) => (
		<div class="post">
			<a href={`/blog/${post.slug}`}>
				<h2>{post.title}</h2>
			</a>

			<div class="metadata">
				<ul>
					{post.tags.map((tag) => (
						<li><a href={`/blog/tag/${tag}`}>#{tag}</a></li>
					))}
				</ul>

				<time title={formatter.format(post.datetime)} datetime={post.datetime.toISOString()}>
					{formatter.format(post.datetime)}
				</time>
			</div>

			<p class="perex" set:html={post.perex} />
		</div>
	))}
</div>

<style>
	.posts {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.post {
		display: flex;
		flex-direction: column;
		gap: .5rem;

		h2 {
			font-family: var(--body-heading-font-family);
			text-wrap: balance;
			font-size: 1.3rem;
			margin-bottom: .5rem;
		}

		.metadata {
			display: flex;
			align-items: start;
			justify-content: space-between;

			time {
				flex-shrink: 0;
				color: var(--body-diminished-color);
				font-size: .9rem;
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				display: flex;
				flex-wrap: wrap;
				gap: 0 .5rem;

				font-size: .85rem;

				a {
					color: var(--body-diminished-color);
					&:hover {
						color: var(--body-text-color);
					}
				}
			}
		}

		.perex {
			font-size: .95rem;
			text-wrap: pretty;
			hyphens: auto
		}
	}

	@media (max-width: 40rem) {
		.post {
			display: flex;
			flex-direction: column;
			gap: .5rem;
		}
	}
</style>
